section {
    margin-left: 5%;
    transform: translateY(-50px);
    margin-top: 5px;
    background-color: #e0e0e0;
    width: 400px;
    max-height: 400px;
    overflow-y: scroll;
    
  }
  
  ::-webkit-section {
    width: 10px;
    background: #888;
  }
  